/* Fonts definitions */
$main-font: 'Open Sans', sans-serif;
$style-font: 'Droid Sans', sans-serif;

/* Colors definitions */
$main-color: #000;
$paga-title-color: #c03;
$area-title-color: #09c;
$area-sub-title-color: #333;

/* Backgrounds definitions */
$main-background: #eee;
$box-background: rgba(255,255,255,0.4);
$animated-object-background: #069;