@import 'config';
@import 'animations';
@import 'placeholders';
@import 'base';

body#xmas {
  &.lights-off {
    background: #111;

    .snow-normal-holder {
      .snow-normal {
        @extend %animation-snow-normal-falling;
      }
    }

    .snow-small-holder {
      .snow-small {
        @extend %animation-snow-small-falling;
      }
    }

    .snow-medium-holder {
      .snow-medium {
        @extend %animation-snow-medium-falling;
      }
    }
  }

  @mixin make-branch($border-size, $border-color) {
    border-bottom: $border-size solid $border-color;
    border-left: $border-size solid transparent;
    border-right: $border-size solid transparent;
    border-bottom-left-radius: 50% 30px;
    border-bottom-right-radius: 50% 30px;
  }

  .xmas-tree {
    .highlight-text {
      display: none;
      position: relative;
      font-family: 'Pacifico', cursive;
      color: #eee;
      z-index: 10;
      margin-top: -500px;

      span {
        position: absolute;

        &:nth-child(1) {
          left: 0;
          font-size: 4em;
          transform: rotate(-10deg);
        }

        &:nth-child(2) {
          right: 0;
          font-size: 2.8em;
          transform: rotate(10deg);
        }
      }
    }

    &.animate {
      .highlight-text {
        display: block;
        animation: highlightText 2s ease-in-out .4s infinite;
      }

      .star {
        animation: starLightBottom 1s ease infinite, starSpin 2s ease-in-out infinite forwards;

        &::before {
          animation: starLightTop 1s ease infinite, starSpinInner 2s ease-in-out infinite forwards;
        }
      }

      .tree {
        .branch {
          &:nth-child(1) {
            .ball {
              @extend %animation-red-light;
            }
          }

          &:nth-child(2) {
            .ball {
              &:nth-child(1) {
                @extend %animation-yellow-light;
              }

              &:nth-child(2) {
                @extend %animation-blue-light;
              }

              &:nth-child(3) {
                @extend %animation-blue-light;
              }
            }
          }

          &:nth-child(3) {
            .ball {
              &:nth-child(1) {
                @extend %animation-red-light;
              }

              &:nth-child(2) {
                @extend %animation-yellow-light;
              }

              &:nth-child(3) {
                @extend %animation-red-light;
              }

              &:nth-child(4) {
                @extend %animation-blue-light;
              }

              &:nth-child(5) {
                @extend %animation-red-light;
              }

              &:nth-child(6) {
                @extend %animation-blue-light;
              }
            }
          }

          &:nth-child(4) {
            .ball {
              &:nth-child(1) {
                @extend %animation-red-light;
              }

              &:nth-child(2) {
                @extend %animation-blue-light;
              }

              &:nth-child(3) {
                @extend %animation-yellow-light;
              }

              &:nth-child(4) {
                @extend %animation-red-light;
              }

              &:nth-child(5) {
                @extend %animation-yellow-light;
              }

              &:nth-child(6) {
                @extend %animation-blue-light;
              }
            }
          }

          &:nth-child(5) {
            .ball {
              &:nth-child(1) {
                @extend %animation-red-light;
              }

              &:nth-child(2) {
                @extend %animation-yellow-light;
              }

              &:nth-child(3) {
                @extend %animation-blue-light;
              }

              &:nth-child(4) {
                @extend %animation-yellow-light;
              }

              &:nth-child(5) {
                @extend %animation-red-light;
              }

              &:nth-child(6) {
                @extend %animation-red-light;
              }

              &:nth-child(7) {
                @extend %animation-blue-light;
              }
            }
          }
        }
      }
    }
  }

  .tree {
    position: relative;
    display: block;
    width: 480px;
    text-align: center;
    margin: 0 auto;
    z-index: 2;

    .branch {
      position: relative;
      display: block;
      width: 0;
      height: 0;
      margin: 0 auto;

      &:nth-child(1) {
        @include make-branch(50px, green);
        margin-bottom: -24px;
        z-index: 6;

        .ball {
          @extend %ball;
          top: 30px;
          left: -5px;
          background: darken(red, 20%);
        }
      }

      &:nth-child(2) {
        @include make-branch(100px, green);
        margin-bottom: -60px;
        z-index: 5;

        .ball {
          @extend %ball;
          
          &:nth-child(1) {
            @extend %ball-large;
            top: 40px;
            left: -30px;
            background: darken(yellow, 20%);
          }

          &:nth-child(2) {
            top: 65px;
            left: 20px;
            background: darken(deepskyblue, 20%);
          }

          &:nth-child(3) {
            @extend %ball-small;
            top: 70px;
            left: -50px;
            background: darken(deepskyblue, 20%);
          }
        }
      }

      &:nth-child(3) {
        @include make-branch(150px, green);
        margin-bottom: -95px;
        z-index: 4;

        .ball {
          @extend %ball;

          &:nth-child(1) {
            @extend %ball-large;
            top: 65px;
            left: -50px;
            background: darken(red, 20%);
          }

          &:nth-child(2) {
            @extend %ball-small;
            top: 85px;
            left: -9px;
            background: darken(yellow, 20%);
          }

          &:nth-child(3) {
            top: 90px;
            left: 35px;
            background: darken(red, 20%);
          }

          &:nth-child(4) {
            top: 130px;
            left: 55px;
            background: darken(deepskyblue, 20%);
          }

          &:nth-child(5) {
            @extend %ball-large;
            top: 135px;
            left: -25px;
            background: darken(red, 20%);
          }

          &:nth-child(6) {
            top: 105px;
            left: -85px;
            background: darken(deepskyblue, 20%);
          }
        }
      }

      &:nth-child(4) {
        @include make-branch(200px, green);
        margin-bottom: -125px;
        z-index: 3;

        .ball {
          @extend %ball;

          &:nth-child(1) {
            @extend %ball-small;
            top: 105px;
            left: -85px;
            background: darken(red, 20%);
          }

          &:nth-child(2) {
            @extend %ball-large;
            top: 140px;
            left: -35px;
            background: darken(deepskyblue, 20%);
          }

          &:nth-child(3) {
            @extend %ball-small;
            top: 130px;
            left: 35px;
            background: darken(red, 20%);
          }

          &:nth-child(3) {
            @extend %ball-large;
            top: 150px;
            left: -115px;
            background: darken(yellow, 20%);
          }

          &:nth-child(4) {
            top: 170px;
            left: 35px;
            background: darken(red, 20%);
          }

          &:nth-child(5) {
            top: 120px;
            left: 45px;
            background: darken(yellow, 20%);
          }

          &:nth-child(6) {
            @extend %ball-large;
            top: 145px;
            left: 100px;
            background: darken(deepskyblue, 20%);
          }
        }
      }

      &:nth-child(5) {
        @include make-branch(240px, green);
        z-index: 2;

        .ball {
          @extend %ball;
          top: 25px;

          &:nth-child(1) {
            @extend %ball-extra-large;
            top: 145px;
            left: -100px;
            background: darken(red, 20%);
          }

          &:nth-child(2) {
            @extend %ball-small;
            top: 145px;
            left: -25px;
            background: darken(yellow, 20%);
          }

          &:nth-child(3) {
            @extend %ball-extra-large;
            top: 160px;
            left: 30px;
            background: darken(deepskyblue, 20%);
          }

          &:nth-child(4) {
            top: 200px;
            left: 105px;
            background: darken(yellow, 20%);
          }

          &:nth-child(5) {
            @extend %ball-large;
            top: 145px;
            left: 100px;
            background: darken(red, 20%);
          }

          &:nth-child(6) {
            top: 205px;
            left: -30px;
            background: darken(red, 20%);
          }

          &:nth-child(7) {
            @extend %ball-small;
            top: 190px;
            left: -145px;
            background: darken(deepskyblue, 20%);
          }
        }
      }
    }
  }

  .log {
    position: relative;
    width: 80px;
    height: 45px;
    background: darkgoldenrod;
    margin: 0 auto;
    z-index: 1;
  }

  .vase {
    width: 200px;
    height: 0;
    border-top: 100px solid maroon;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    margin: 0 auto;
    z-index: 1;
  }

  .star {
    position: relative;
    width: 0;
    height: 0;
    border-top: 30px solid gold;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    margin: 0 auto -15px auto;
    z-index: 7;

    &::before {
      position: absolute;
      top: -40px;
      left: -20px;
      width: 0;
      height: 0;
      content: '';
      border-bottom: 30px solid gold;
      border-left: 20px solid transparent;
      border-right: 20px solid transparent;
      z-index: 8;
    }
  }

  .snow-normal-holder {
    .snow-normal {
      @extend %snow;
      top: -12px;
      width: 12px;
      height: 12px;
      background-image: linear-gradient(180deg, rgba(255,255,255,0) 40%, rgba(255,255,255,0.7) 40%, rgba(255,255,255,0.7) 60%, rgba(255,255,255,0) 60%),
                        linear-gradient(90deg, rgba(255,255,255,0) 40%, rgba(255,255,255,0.7) 40%, rgba(255,255,255,0.7) 60%, rgba(255,255,255,0) 60%),
                        linear-gradient(45deg, rgba(255,255,255,0) 43%, rgba(255,255,255,0.7) 43%, rgba(255,255,255,0.7) 57%, rgba(255,255,255,0) 57%),
                        linear-gradient(135deg, rgba(255,255,255,0) 43%, rgba(255,255,255,0.7) 43%, rgba(255,255,255,0.7) 57%, rgba(255,255,255,0) 57%);
      z-index: 21;

      &:nth-child(1) {
        left: 10%;
        transform-origin: center -20px;
        animation-delay: .2s;
        animation-duration: 11s;
      }

      &:nth-child(2) {
        left: 30%;
        transform-origin: center -35px;
        animation-duration: 10s;
      }

      &:nth-child(3) {
        left: 55%;
        transform-origin: center -10px;
        animation-delay: .1.5s;
        animation-duration: 13s;
      }

      &:nth-child(4) {
        left: 70%;
        transform-origin: center -20px;
        animation-delay: .2.4s;
        animation-duration: 11s;
      }

      &:nth-child(5) {
        left: 95%;
        transform-origin: center -40px;
        animation-duration: 12s;
      }

      &:nth-child(6) {
        left: 90%;
        transform-origin: left -10px;
        animation-duration: 10s;
      }

      &:nth-child(7) {
        left: 10%;
        transform-origin: left -20px;
        animation-duration: 13s;
      }

      &:nth-child(8) {
        left: 38%;
        animation-duration: 9s;
      }

      &:nth-child(9) {
        left: 68%;
        transform-origin: left 10px;
        animation-duration: 10s;
      }

      &:nth-child(10) {
        left: 85%;
        transform-origin: left 20px;
        animation-duration: 13s;
      }
    }
  }

  .snow-medium-holder {
    .snow-medium {
      @extend %snow;
      top: -30px;
      background-image: linear-gradient(180deg, rgba(255,255,255,0) 40%, rgba(255,255,255,0.3) 40%, rgba(255,255,255,0.3) 60%, rgba(255,255,255,0) 60%),
                        linear-gradient(90deg, rgba(255,255,255,0) 40%, rgba(255,255,255,0.3) 40%, rgba(255,255,255,0.3) 60%, rgba(255,255,255,0) 60%),
                        linear-gradient(45deg, rgba(255,255,255,0) 43%, rgba(255,255,255,0.3) 43%, rgba(255,255,255,0.3) 57%, rgba(255,255,255,0) 57%),
                        linear-gradient(135deg, rgba(255,255,255,0) 43%, rgba(255,255,255,0.3) 43%, rgba(255,255,255,0.3) 57%, rgba(255,255,255,0) 57%);
      z-index: 22;

      &:nth-child(1) {
        left: 3%;
        width: 18px;
        height: 18px;
        transform-origin: center 20px;
        animation-delay: .4s;
        animation-duration: 15s;
      }

      &:nth-child(2) {
        left: 16%;
        width: 20px;
        height: 20px;
        transform-origin: center -35px;
        animation-duration: 17s;
      }

      &:nth-child(3) {
        left: 28%;
        width: 15px;
        height: 15px;
        animation-delay: .1.9s;
        animation-duration: 14s;
      }

      &:nth-child(4) {
        left: 32%;
        transform-origin: center -20px;
        animation-delay: .1.4s;
        animation-duration: 19s;
      }

      &:nth-child(5) {
        left: 40%;
        width: 22px;
        height: 22px;
        transform-origin: center 20px;
        animation-duration: 13s;
      }

      &:nth-child(6) {
        left: 55%;
        width: 18px;
        height: 18px;
        transform-origin: left 35px;
        animation-duration: 11s;
      }

      &:nth-child(7) {
        left: 63%;
        width: 24px;
        height: 24px;
        animation-delay: .1s;
        animation-duration: 20s;
      }

      &:nth-child(8) {
        left: 76%;
        width: 16px;
        height: 16px;
        animation-duration: 18s;
      }

      &:nth-child(9) {
        left: 88%;
        width: 20px;
        height: 20px;
        transform-origin: left 15px;
        animation-delay: .1.9s;
        animation-duration: 15s;
      }

      &:nth-child(10) {
        left: 95%;
        width: 18px;
        height: 18px;
        transform-origin: left 28px;
        animation-delay: .2.7s;
        animation-duration: 16s;
      }
    }
  }

  .snow-small-holder {
    .snow-small {
      @extend %snow;
      top: -8px;
      background-image: linear-gradient(180deg, rgba(255,255,255,0) 40%, rgba(255,255,255,0.5) 40%, rgba(255,255,255,0.5) 60%, rgba(255,255,255,0) 60%),
                        linear-gradient(90deg, rgba(255,255,255,0) 40%, rgba(255,255,255,0.5) 40%, rgba(255,255,255,0.5) 60%, rgba(255,255,255,0) 60%),
                        linear-gradient(45deg, rgba(255,255,255,0) 43%, rgba(255,255,255,0.5) 43%, rgba(255,255,255,0.5) 57%, rgba(255,255,255,0) 57%),
                        linear-gradient(135deg, rgba(255,255,255,0) 43%, rgba(255,255,255,0.5) 43%, rgba(255,255,255,0.5) 57%, rgba(255,255,255,0) 57%);
      z-index: 20;

      &:nth-child(1) {
        left: 10%;
        width: 8px;
        height: 8px;
        transform-origin: center -10px;
        animation-delay: .1s;
        animation-duration: 6s;
      }

      &:nth-child(2) {
        left: 20%;
        width: 6px;
        height: 6px;
        animation-delay: .3s;
        animation-duration: 8s;
      }

      &:nth-child(3) {
        left: 30%;
        width: 8px;
        height: 8px;
        transform-origin: right -15px;
        animation-duration: 5s;
      }

      &:nth-child(4) {
        left: 40%;
        width: 6px;
        height: 6px;
        transform-origin: left -5px;
        animation-delay: .2s;
        animation-duration: 4s;
      }

      &:nth-child(5) {
        left: 50%;
        width: 8px;
        height: 8px;
        transform-origin: center -18px;
        animation-duration: 7s;
      }

      &:nth-child(6) {
        left: 60%;
        width: 6px;
        height: 6px;
        animation-delay: .1s;
        animation-duration: 6s;
      }

      &:nth-child(7) {
        left: 70%;
        width: 8px;
        height: 8px;
        transform-origin: left -16px;
        animation-delay: .3s;
        animation-duration: 4s;
      }

      &:nth-child(8) {
        left: 80%;
        width: 6px;
        height: 6px;
        transform-origin: center -15px;
        animation-delay: .2s;
        animation-duration: 7s;
      }

      &:nth-child(9) {
        left: 90%;
        width: 8px;
        height: 8px;
        transform-origin: left -26px;
        animation-delay: .1s;
        animation-duration: 3s;
      }

      &:nth-child(10) {
        left: 100%;
        width: 6px;
        height: 6px;
        animation-delay: .3s;
        animation-duration: 9s;
      }

      &:nth-child(11) {
        left: 15%;
        width: 8px;
        height: 8px;
        transform-origin: center -15px;
        animation-delay: .2s;
        animation-duration: 7s;
      }

      &:nth-child(12) {
        left: 25%;
        width: 6px;
        height: 6px;
        animation-delay: .4s;
        animation-duration: 9s;
      }

      &:nth-child(13) {
        left: 35%;
        width: 8px;
        height: 8px;
        transform-origin: right -22px;
        animation-duration: 6s;
      }

      &:nth-child(14) {
        left: 45%;
        width: 6px;
        height: 6px;
        transform-origin: left -10px;
        animation-delay: .3s;
        animation-duration: 5s;
      }

      &:nth-child(15) {
        left: 55%;
        width: 8px;
        height: 8px;
        transform-origin: center -25px;
        animation-duration: 8s;
      }

      &:nth-child(16) {
        left: 65%;
        width: 6px;
        height: 6px;
        animation-delay: .2s;
        animation-duration: 7s;
      }

      &:nth-child(17) {
        left: 75%;
        width: 8px;
        height: 8px;
        transform-origin: left -26px;
        animation-delay: .4s;
        animation-duration: 5s;
      }

      &:nth-child(18) {
        left: 85%;
        width: 6px;
        height: 8px;
        transform-origin: center -25px;
        animation-delay: .3s;
        animation-duration: 8s;
      }

      &:nth-child(19) {
        left: 95%;
        width: 8px;
        height: 8px;
        transform-origin: left -15px;
        animation-delay: .2s;
        animation-duration: 4s;
      }

      &:nth-child(20) {
        left: 5%;
        width: 6px;
        height: 6px;
        animation-delay: .4s;
        animation-duration: 10s;
      }
    }    
  }
}